[package]
name = "graviola"
version = "0.1.0"
edition = "2021"
repository = "https://github.com/ctz/graviola/"
license = "Apache-2.0 OR ISC or MIT-0"
readme = "../README.md"
description = "graviola is a modern, fast cryptography library"
categories = ["network-programming", "cryptography"]
rust-version = "1.70"

[features]
default = []
__internal_08eaf2eb = []

[dependencies]
cfg-if = "1"
getrandom = "0.2"

[dev-dependencies]
hex = { version = "0.4", features = ["serde"] }
proptest = "1.5.0"
serde = { version = "1", features = ["derive"] }
serde_json = "1"

[[test]]
name = "wycheproof"
required-features = ["__internal_08eaf2eb"]
